<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>购物车示例</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="app" v-cloak>
        <template v-if="list.length">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>商品名称</th>
                        <th>商品单价</th>
                        <th>购买数量</th>
                        <th>操作</th>
						<th><input type="checkbox" @click="handleAllChecked" :checked="checkAll">全选</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="(title, index1) in list">
                        <tr>
                            <th>{{ title.title_name }}</th>
                        </tr>
						<tr v-for="(item, index2) in title.content">
                        <td>{{ index2+1 }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <button
                                @click="handleReduce(index1, index2)"
                                :disabled="item.count === 1">-</button>
                            {{ item.count }}
                            <button @click="handleAdd(index1, index2)">+</button>
                        </td>
                        <td>
                            <button @click="handleRemove(index1, index2)">移除</button>
                        </td>
						<td>
							<input type="checkbox"  @click="handleChecked(index1, index2)" :checked="item.check">
						</td>	
						</tr>
					</template>
                </tbody>
            </table>
            <div>选择：{{ totalGood }},总价：￥ {{ totalPrice }}</div>
        </template>
        <div v-else>购物车为空</div>
    </div>
    <script src="https://cdn.staticfile.org/vue/2.7.0/vue.min.js"></script>
    <script src="index.js"></script>
</body>
</html>